.*
public_html
.bash_history
.wget-hsts
Lab1/
*.zip
cs224/master
*.txt
cs236/Project2/lab2
cs236/Lab3/lab2
cs224/projects/y86-64/a.out
cs224/projects/y86-64/yo-files/nop-halt.yo
cs224/projects/y86-64/yo-files/Solutions/copy.yo
cs236/Lab3/a.out
cs236/Project3/lab2
cs236/Project3/lab3
cs236/Project3/proj2
cs236/Project3/proj3
cs236/Project3/test
